.Card {
  width: 290px;
  box-shadow: 2px 8px 21px -2px #777777;
  border-radius: 10px;
  background-color: #fff;

  &__image {}

  &__name {
    padding: 0;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__types {
    &Name {}
  }

  &__info {
    text-align: center;
  }
}
